.trms-logo {
	height:auto;
	width:100%;
}


.card-body {
	color: rgb(20, 15, 15);
	background-color: rgb(150, 192, 202);

	margin: 0;
	text-align: left;
	font-weight: bold;

}

.card-body input {
	background-color: #96c0ca;
}



.menu {
	text-align: center;
	border-style: double;
	border-color: green;
	border-radius: 2cm;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	background-color: rgb(120, 93, 172);
}

#labelMenu {
	font-size: 35px;
	/* color:maroon */
}